{{#if osc}}
  <button {{action 'stop'}}>Stop</button>
{{else}}
  <button {{action 'start'}}>Start</button>
{{/if}}
<div>
  Pitch: {{_frequency}}
</div>
<div>
  {{input type="range" value=_frequency min="20" max="20000" step="0.001" }}
</div>
<div>
  Volume: {{gain}}
</div>
<div>
  {{input type="range" value=gain min="0" max="1" step="0.001" }} {{input type="checkbox" checked=linearGain}} Linear
</div>
{{#if hasBlock}}
  {{yield amp}}
{{/if}}
